html
{

    font-size: 28px;
}
body
{
    padding: 0px;
    margin: 0px;
}
.space
{
    padding: 10px;
    margin: 0px;
    width: 1260px;
    height: 700px;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
 }

.header
{
    padding: 10px;
    margin:0px 0px 10px 0px;
    height: 130px;
    background: #C4C4C4;
    font-size: 1em;
}

.header:nth-child(odd)
{
    width: calc(75% - 5px);
}

.header:nth-child(even)
{
    width: calc(50% - 10px);
}

h1, h2, h3
{
    margin: 0px;
    padding: 0px;

}

.rem
{
    font-size: 0.57rem;
}
